# Temporary Files
*~
*.swp
.DS_Store

# Editor and IDE Directories
.vscode/
.idea/

# Dependency Directories
node_modules/
vendor/

# Sensitive or Local Configuration
.env


# Operating System Files
Thumbs.db
.DS_Store